<div id="message-{{id}}">
			<strong class="author-text">@{{username}}</strong>
			<span class="date-posted">{{created}}</span>
			<div class="comment-text">{{comments}}</div>
			{{!-- commments NOT COMMENT. --}}
</div>