	<section id="post title">
		<center>
			<h3>Post Title</h3>
		</center>
	</section>
	<section id="post author">
		<center>
			<p>Post Author</p>
		</center>
	</section>
	<section id="post time">
		<center>
			<p>Posted at: XX/XX/XXXX</p>
		</center>
	</section>
	<section id="image">
		<center>
			<p>Post Image</p>
			<img src="https://i.ytimg.com/vi/PqweYCDi3uc/maxresdefault.jpg">
		</center>
	</section>
	<footer>
	</footer>