	<header>
		<h1>Post Image Form</h1>
	</header>
	<form id="post image" method="POST" enctype="multipart/form-data"
		action='/posts/createPost'>
		<label for="title"><b>Title:</b></label>
		<input type="text" id="title" name="title" required />
		<br>

		<label for="desc"><b>Description:</b></label>

		<textarea name="description" rows="2" cols= "40"></textarea>
		<br>
		<label for="pic"><b>Image(s):</b></label>
		<input type="file" id="pic" name="uploadImage" accept="image/*" required/>
		<br>
		<p><input type="checkbox" /> You accept the Acceptable Use Policy for uploading images</p>
		<br>
		<input type="submit" />
	</form>
