#post-container {
    grid-area: content;
    padding-top: .35em;
    padding-bottom: .35em;
    display: grid;
    grid-gap: .2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "photoinfo comments";
}

#image{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-area:photoinfo;
}

div[id^=message-]{
    display: grid;
    grid-template-rows: .3fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: .2em;
    padding: .25rem;
    margin: .2rem;
    font-size: 1rem;
    border: .0625rem solid black;
    border-radius: .25rem;
    grid-template-areas: "author created"
    "comment comment";
}

#comment-container {
    display: grid;
    grid-area: comments;
    grid-template-rows: auto 75px;
    grid-template-columns: 1fr;
    gap: .2rem;
    grid-template-areas: 
    "messages"
    "comment-box";
    max-height: 80vh;
}

#messages {
    grid-area: messages;
    overflow-y: auto;
    display: flex;
    flex-flow: column-reverse nowrap;
    scroll-behavior: smooth;
}

.author-text{
    grid-area: author;
    justify-self: start;
    color: blue;

}
.comment-text{
    grid-area: comment;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 75px;
    min-height: 75px;
}
.date-posted{
    grid-area: created;
    justify-self: end;
}